.navbar {
  position: sticky !important;
  top:0;
  z-index: 99;
  .navbar-brand {
    font-weight: bold;
    font-size: 25px;
    color: #323131;
  }
  .navbar-toggler {
    border-radius: 2px;
    &:focus {
      box-shadow: 0 0 4px 4px #ececec;
    }
  }
  .navbar-collapse {
    .navbar-nav {
      width: 100%;
      justify-content: flex-end;
      gap: 2%;
      li {
        @media (max-width: 991px) {
          margin-bottom: 8px;
        }
        &:first-child {
          width: 50%;

          @media (max-width: 991px) {
            width: 100%;
            margin-top: 10px;
          }
          input {
            border-radius: 2px;
            padding: 8px;
            &:focus {
              box-shadow: 0 0 4px 4px #f4f3f3;
              border-color: #dedede;
            }
          }
        }
        &:last-child {
          text-align: center;
          border-radius: 2px;
          border: 1px solid #ccc;
          cursor: pointer;
          transition: 0.4s;
          &:hover {
            background-color: #333;
            border: 1px solid #333;
            button {
              color: #fff !important;
            }
            button {
              transition: 0.7s;
            }
          }
        }
      }
    }
  }
}
